<!--  BODY PAGE CONTENT --> 
<!-- navigation panel --> 
<!-- first section - Home -->
<div class="container-fluid" style="padding:30px; background-color: #fff;">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12">
     <div class="footer-left">
      <img class="img-fluid" src="assets/images/OORlogo.jpg" style="max-width:300px" alt="lorem pixel">
      </div>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <div class="footer-right hidden-xs">
        <ul>
          <li><a href="#conference">Over symposium</a><span>|</span></li>
          <li><a href="#speakers">Sprekers</a><span>|</span></li>
          <li><a href="#schedule">Programma</a><span>|</span></li>
          <li><a href="#contactus">Info & Contact</a><span>|</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<section id="home" class="home drawer drawer--left">
  <div class="banner-title ">
    <h1><strong>Symposium </strong><span style="color:#01273E">OOR</span><strong> ZWN</strong></h1>

    <b><h3 class="event-description">Samen werken aan een innovatieve en renderende opleiding</h3></b>
    <div class="event-schedule"> <span class="event-date"><i class="fa fa-flag" aria-hidden="true"></i> 21 september 2022</span> <span class="event-place"><i class="fa fa-heart" aria-hidden="true"></i> ETZ Tweesteden</span> <h3 style="color:#ef3040"><b>16:00-19:00 uur</b></h3></div>
    
    <br><img class="img-fluid" src="assets/images/header.png" style="max-width:40%"  alt="lorem pixel"><br><br>
    <p class="event-description" style="color:#01273E">Nieuwe generaties spelen een <strong>hoofdrol</strong> in de evolutie van ons gedrag</p><br><br><br>
   <!--  <div class="register-now-section">  <a href="#" class="register-now-btn">Register Now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </div>
    <div class="top-social"> <a href="" class="fa fa-facebook" aria-hidden="true"></a> <a href="" class="fa fa-twitter" aria-hidden="true"></a> <a href="" class="fa fa-linkedin" aria-hidden="true"></a> <a href="" class="fa fa-vimeo" aria-hidden="true"></a> <a href="" class="fa fa-google-plus" aria-hidden="true"></a> <a href="" class="fa fa-instagram" aria-hidden="true"></a> </div> -->
  </div>


  
</section>
<!-- second section - About -->
<section id="conference" class="conference">
    <div class="container">
      <div class="row">
        <h2> Over dit <strong><span style="color: #ef3040;">symposium</span></strong> </h2>
        <div class="count-down col-sm-12 col-sm-12 col-xs-12">
          <!-- <div class="row">
            <div class="col-sm-12 col-sm-12 col-xs-12">
              <div class="count-day"><span class="count-number" data-count="235" id="day">5</span><span class="count-label">days</span></div>
            </div>
          </div> --><br><br>
          <p class="count-down-description">Organisaties hebben evolutionaire en verfrissende invloed van nieuwe generaties nodig om sociaal, economisch en ecologisch gezond te blijven. Dat beseffen ze vaak wel, maar weten niet wat ze daaraan kunnen doen.
            <br><br>
            Het gevaar ligt op de loer dat verouderde sociale processen in stand worden gehouden, die juist verlammend werken voor de innovatiekracht van volgende generaties.
          </p>
         
           </div>
      </div>
    </div>
  </section>
  <!-- /second section --> 

  <!-- Testiominals -->
  <section id="testiominal" class="testiominals">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <h3>Denkbare quotes</h3>
          <div class="owl-testimonial">
            <div class="inner-testimonial">
              <div class="tm-tagline"> <i class="fa fa-quote-left" aria-hidden="true"></i> <span>We zorgen heel goed voor onze aios maar……het lijkt nooit genoeg</span> </div>
              
            </div>
            <div class="inner-testimonial">
              <div class="tm-tagline"> <i class="fa fa-quote-left" aria-hidden="true"></i> <span>Arbeidsethos vandaag de dag ervaren we erg anders dan in onze tijd</span> </div>
              
            </div>
            <div class="inner-testimonial">
              <div class="tm-tagline"> <i class="fa fa-quote-left" aria-hidden="true"></i> <span>Deeltijdwerken zie we steeds vaker is dat wel realistisch in ons vak</span> </div>
            
            </div>
            <div class="inner-testimonial">
              <div class="tm-tagline"> <i class="fa fa-quote-left" aria-hidden="true"></i> <span>Dat hebben we al geprobeerd te veranderen</span> </div>
             
            </div>
            <div class="inner-testimonial">
              <div class="tm-tagline"> <i class="fa fa-quote-left" aria-hidden="true"></i> <span>Dat doen we al jaren zo</span> </div>
              
            </div>
            <div class="inner-testimonial">
              <div class="tm-tagline"> <i class="fa fa-quote-left" aria-hidden="true"></i> <span>Concentreer je op je opleiding in plaats van op bijzaken</span> </div>
              
            </div>
            <div class="inner-testimonial">
              <div class="tm-tagline"> <i class="fa fa-quote-left" aria-hidden="true"></i> <span>Er is tegenwoordig ruimte om zaken bespreekbaar te maken, maar dat hangt wel van jezelf af</span> </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- third section - Services -->
  <section id="about" class="about-us">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-xs-12">
        
          
          
          <br><br>
          
        </div>
        <a href="#speakers" style="text-align: center;"class="register-now-btn">Sprekers <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
      </div>
     
    </div>
  </section>
  <!-- /third section --> 
  
  <!-- fourth section -->
  <section id="speakers" class="speakers">
    <div class="container">
      <div class="row">
        <h2 class="block-title"><strong>De </strong> sprekers</h2>
        
        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="speaker-block"> <img src="assets/images/speaker-4b.jpg" alt="Event " class="img-responsive">
            <div class="speaker-details"> <span class="speaker-name">dr. G.P.T. Bosma</span> 
              
              <!-- <div class="social-meta"> <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a> </div> -->
            </div>
          </div>
          <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" (click)="speaker1 =! speaker1">
                   Meer info
                  </button>
                </h5>
              </div>
          
              <div *ngIf="speaker1" id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div style="color:#01273E; text-align: left;" class="card-body">
                  Gerlof Bosma (1970) studeerde geneeskunde in Rotterdam en behaalde zijn artsexamen in 1996. Daarnaast studeerde hij theologie aan de Universiteit Leiden en rondde dit in 1997 af. Tijdens zijn opleiding tot radioloog in het LUMC verdedigde hij eveneens in Leiden zijn proefschrift over kwantitatieve MRI technieken in neuropsychiatrische SLE in 2004. Hij is sinds 2006 werkzaam in het Sint Elisabethziekenhuis, thans ETZ, als (interventie)radioloog. Per 1 januari 2022 is hij aangesteld als decaan voor de medische vervolgopleidingen in het ETZ. Daarnaast heeft hij meerdere bestuurlijke functies binnen en buiten de zorg bekleed.
                </div>
              </div>
            </div>
          </div>


          
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="speaker-block"> <img src="assets/images/speaker-3.jpg" alt="Event " class="img-responsive">
            <div class="speaker-details"> <span class="speaker-name">Prof. dr. Bart Berden</span>
            
             
            </div>
          </div>
          <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" (click)="speaker2 =! speaker2">
                   Meer info
                  </button>
                </h5>
              </div>
          
              <div *ngIf="speaker2" id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div style="color:#01273E; text-align: left" class="card-body">
                  Bart Berden MBA (1959) is arts (Nijmegen 1985) en studeerde bedrijfskunde MBA-algemeen management aan de Erasmus Universiteit Rotterdam (1988) en is in 1993 cum laude gepromoveerd op proefschrift ‘ Basic cardiopulmonary resuscitation’; assessment of skills in training situations’ aan de Universiteit Utrecht. 
Bart Berden is hoogleraar bij TIAS School for Business and Society. Hiernaast is Bart Berden sinds 11/2004 lid van de Raad van Bestuur van het St. Elisabeth Ziekenhuis in Tilburg; inmiddels voorzitter Raad van Bestuur Elisabeth TweeSteden Ziekenhuis. Het ETZ heeft 6300 medewerkers. Van oktober 2001 tot november 2004 was hij lid van de Raad van Bestuur van het Elkerliek Ziekenhuis te Helmond – Deurne. Voor deze functie was hij gedurende ongeveer 5 jaar Directeur Medische Zaken van het Universitair Medisch Centrum St. Radboud te Nijmegen (1995 – 2001).
Bart Berden heeft momenteel de volgende bestuursfuncties: bestuurslid Nijmeegs Kenniscentrum Chronische Vermoeidheid (NKCV) en bestuurslid (voorzitter) Raad van Toezicht Nederlands Huisartsen Genootschap
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="speaker-block"> <img src="assets/images/speaker-2.jpg" alt="Event " class="img-responsive">
            <div class="speaker-details"> <span class="speaker-name">dr. Aart Bontekoning</span>
              
             
            </div>
          </div>
          <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" (click)="speaker3 =! speaker3">
                   Meer info
                  </button>
                </h5>
              </div>
          
              <div *ngIf="speaker3" id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div style="color:#01273E; text-align: left" class="card-body">
                  Spreker Aart Bontekoning doet al 20 jaar uniek generatie onderzoek in organisaties en promoveerde daarop in 2007. Recent onderzocht hij in 83 verschillende organisaties met Millennials (1985-2000) waar ze wel en geen werkenergie van krijgen. De aankomende generatie junioren, de bewuste generatie (2000-2015), onderzocht hij ook. Evenals de nieuwe generatie senioren, die vitaler is dan ooit en de grootste met de meeste invloed! De interactie tussen generaties bepaalt het tempo van het updaten.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="speaker-block"> <img src="assets/images/speaker-1.jpg" alt="Event " class="img-responsive">
            <div class="speaker-details"> <span class="speaker-name">drs Alfons Mathijssen</span> 
             
             
            </div>
          </div>
          <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" (click)="speaker4 =! speaker4">
                   Meer info
                  </button>
                </h5>
              </div>
          
              <div *ngIf="speaker4" id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div style="color:#01273E; text-align: left" class="card-body">
                  Alfons Mathijssen (1969) studeerde personeelswetenschappen aan de Tilburg University (1996). Alfons is vanaf 2004 zelfstandig ondernemer en sinds 6 jaar actief binnen de zorg op verschillende HR(D) posities. Op dit moment is hij onderwijskundig adviseur medische opleidingen binnen het ETZ, waar hij o.a. binnen het OOR ZWN het symposium organiseert met collega’s Chantal Visser (Maasstad Ziekenhuis) en Kim Frencken (Maasstad Ziekenhuis).
                </div>
              </div>
            </div>
          </div>
        </div>
     <!--    <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="speaker-block"> <img src="assets/images/speaker-4.jpg" alt="Event " class="img-responsive">
            <div class="speaker-details"> <span class="speaker-name">David Joe</span> <span class="speaker-designation">CO FOUNDER</span>
              <p class="speaker-meta">Duis sed odio sit amet nibh vulputate cursus a sit amet mauris bi accumsan</p>
              <div class="social-meta"> <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a> </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="speaker-block"> <img src="assets/images/speaker-5.jpg" alt="Event " class="img-responsive">
            <div class="speaker-details"> <span class="speaker-name">David Joe</span> <span class="speaker-designation">CO FOUNDER</span>
              <p class="speaker-meta">Duis sed odio sit amet nibh vulputate cursus a sit amet mauris bi accumsan</p>
              <div class="social-meta"> <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a> </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="speaker-block"> <img src="assets/images/speaker-6.jpg" alt="Event " class="img-responsive">
            <div class="speaker-details"> <span class="speaker-name">David Joe</span> <span class="speaker-designation">CO FOUNDER</span>
              <p class="speaker-meta">Duis sed odio sit amet nibh vulputate cursus a sit amet mauris bi accumsan</p>
              <div class="social-meta"> <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a> </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="speaker-block"> <img src="assets/images/speaker-7.jpg" alt="Event " class="img-responsive">
            <div class="speaker-details"> <span class="speaker-name">David Joe</span> <span class="speaker-designation">CO FOUNDER</span>
              <p class="speaker-meta">Duis sed odio sit amet nibh vulputate cursus a sit amet mauris bi accumsan</p>
              <div class="social-meta"> <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a> </div>
            </div>
          </div>
        </div> -->
      </div><br><br><br>
       <p class="text-center"><a href="#schedule" class="register-now-btn styles-button">Het Programma<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </p>
    </div>
  </section>
  <section id="schedule" class="schedule">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <p class="block-title"><strong>Het </strong>programma</p>
          <!-- <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#menu0">06/01</a></li>
            <li><a data-toggle="tab" href="#menu1">09/02</a></li>
            <li><a data-toggle="tab" href="#menu2">12/03</a></li>
            <li><a data-toggle="tab" href="#menu3">22/04</a></li>
          </ul>
          <div class="tab-content">
            <div id="menu0" class="tab-pane fade active in">
              <div class="speakers-list">
                <div class="col-sm-3  col-xs-12  left-section">
                  <div class="col-sm-12 col-xs-12">
                    <div class="img-section"> <img src="assets/images/speaker-round-image.png" alt="Event " class="img-responsive"> </div>
                    <div class="speaker-social"> <a href="#" class="fa fa-facebook" aria-hidden="true"></a> <a href="#" class="fa fa-twitter" aria-hidden="true"></a> <a href="#" class="fa fa-linkedin" aria-hidden="true"></a> <a href="#" class="fa fa-share-alt" aria-hidden="true"></a> </div>
                  </div>
                </div>
                <div class="col-sm-9  col-xs-12 ">
                  <div class="col-sm-12 col-xs-12">
                    <h3 class="speaker-topic">The Best Event Theme You Can Find is Here.</h3>
                    <p class="topic-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur magni dolores eos qui ratione.</p>
                    <div class="speaker-schedule"><span class="speaker-timing"><i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 - 08:45</span> <span class="speaker-loaction"><i class="fa fa-map-marker" aria-hidden="true"></i> Hall / C</span> <span class="speaker"><i class="fa fa-microphone" aria-hidden="true"></i> Mike Ross Realten inc. </span></div>
                  </div>
                </div>
              </div>
              <div class="speakers-list">
                <div class="col-sm-3 col-xs-12 left-section">
                  <div class="col-sm-12 col-xs-12">
                    <div class="img-section"> <img src="assets/images/speaker-round-image-1.png" alt="Event " class="img-responsive"> </div>
                    <div class="speaker-social"> <a href="#" class="fa fa-facebook" aria-hidden="true"></a> <a href="#" class="fa fa-twitter" aria-hidden="true"></a> <a href="#" class="fa fa-linkedin" aria-hidden="true"></a> <a href="#" class="fa fa-share-alt" aria-hidden="true"></a> </div>
                  </div>
                </div>
                <div class="col-sm-9 col-xs-12 ">
                  <div class="col-sm-12 col-xs-12">
                    <h3 class="speaker-topic">The Best Event Theme You Can Find is Here.</h3>
                    <p class="topic-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur magni dolores eos qui ratione.</p>
                    <div class="speaker-schedule"><span class="speaker-timing"><i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 - 08:45</span> <span class="speaker-loaction"><i class="fa fa-map-marker" aria-hidden="true"></i> Hall / C</span> <span class="speaker"><i class="fa fa-microphone" aria-hidden="true"></i> Mike Ross Realten inc. </span></div>
                  </div>
                </div>
              </div>
              <div class="speakers-list">
                <div class="col-sm-3  col-xs-12 left-section">
                  <div class="col-sm-12 col-xs-12">
                    <div class="img-section"> <img src="assets/images/speaker-round-image-2.png" alt="Event " class="img-responsive"> </div>
                    <div class="speaker-social"> <a href="" class="fa fa-facebook" aria-hidden="true"></a> <a href="" class="fa fa-twitter" aria-hidden="true"></a> <a href="" class="fa fa-linkedin" aria-hidden="true"></a> <a href=""    class="fa fa-share-alt" aria-hidden="true"></a> </div>
                  </div>
                </div>
                <div class="col-sm-9 col-xs-12">
                  <div class="col-sm-12 col-xs-12">
                    <h3 class="speaker-topic">The Best Event Theme You Can Find is Here.</h3>
                    <p class="topic-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur magni dolores eos qui ratione.</p>
                    <div class="speaker-schedule"><span class="speaker-timing"><i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 - 08:45</span> <span class="speaker-loaction"><i class="fa fa-map-marker" aria-hidden="true"></i> Hall / C</span> <span class="speaker"><i class="fa fa-microphone" aria-hidden="true"></i> Mike Ross Realten inc. </span></div>
                  </div>
                </div>
              </div>
            </div>
            <div id="menu1" class="tab-pane fade">
              <div class="speakers-list">
                <div class="col-sm-3 col-xs-12 left-section">
                  <div class="col-sm-12 col-xs-12">
                    <div class="img-section"> <img src="assets/images/speaker-round-image-1.png" alt="Event " class="img-responsive"> </div>
                    <div class="speaker-social"> <a href="" class="fa fa-facebook" aria-hidden="true"></a> <a href="" class="fa fa-twitter" aria-hidden="true"></a> <a href="" class="fa fa-linkedin" aria-hidden="true"></a> <a href=""    class="fa fa-share-alt" aria-hidden="true"></a> </div>
                  </div>
                </div>
                <div class="col-sm-9 col-xs-12">
                  <div class="col-sm-12 col-xs-12">
                    <h3 class="speaker-topic">The Best Event Theme You Can Find is Here.</h3>
                    <p class="topic-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur magni dolores eos qui ratione.</p>
                    <div class="speaker-schedule"><span class="speaker-timing"><i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 - 08:45</span> <span class="speaker-loaction"><i class="fa fa-map-marker" aria-hidden="true"></i> Hall / C</span> <span class="speaker"><i class="fa fa-microphone" aria-hidden="true"></i> Mike Ross Realten inc. </span></div>
                  </div>
                </div>
              </div>
              <div class="speakers-list">
                <div class="col-sm-3 col-xs-12 left-section">
                  <div class="col-sm-12 col-xs-12">
                    <div class="img-section"> <img src="assets/images/speaker-round-image-2.png" alt="Event " class="img-responsive"> </div>
                    <div class="speaker-social"> <a href="" class="fa fa-facebook" aria-hidden="true"></a> <a href="" class="fa fa-twitter" aria-hidden="true"></a> <a href="" class="fa fa-linkedin" aria-hidden="true"></a> <a href=""    class="fa fa-share-alt" aria-hidden="true"></a> </div>
                  </div>
                </div>
                <div class="col-sm-9 col-xs-12">
                  <div class="col-sm-12 col-xs-12">
                    <h3 class="speaker-topic">The Best Event Theme You Can Find is Here.</h3>
                    <p class="topic-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur magni dolores eos qui ratione.</p>
                    <div class="speaker-schedule"><span class="speaker-timing"><i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 - 08:45</span> <span class="speaker-loaction"><i class="fa fa-map-marker" aria-hidden="true"></i> Hall / C</span> <span class="speaker"><i class="fa fa-microphone" aria-hidden="true"></i> Mike Ross Realten inc. </span></div>
                  </div>
                </div>
              </div>
              <div class="speakers-list">
                <div class="col-sm-3 col-xs-12 left-section">
                  <div class="col-sm-12 col-xs-12">
                    <div class="img-section"> <img src="assets/images/speaker-round-image.png" alt="Event " class="img-responsive"> </div>
                    <div class="speaker-social"> <a href="" class="fa fa-facebook" aria-hidden="true"></a> <a href="" class="fa fa-twitter" aria-hidden="true"></a> <a href="" class="fa fa-linkedin" aria-hidden="true"></a> <a href=""    class="fa fa-share-alt" aria-hidden="true"></a> </div>
                  </div>
                </div>
                <div class="col-sm-9 col-xs-12">
                  <div class="col-sm-12 col-xs-12">
                    <h3 class="speaker-topic">The Best Event Theme You Can Find is Here.</h3>
                    <p class="topic-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur magni dolores eos qui ratione.</p>
                    <div class="speaker-schedule"><span class="speaker-timing"><i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 - 08:45</span> <span class="speaker-loaction"><i class="fa fa-map-marker" aria-hidden="true"></i> Hall / C</span> <span class="speaker"><i class="fa fa-microphone" aria-hidden="true"></i> Mike Ross Realten inc. </span></div>
                  </div>
                </div>
              </div>
            </div>
            <div id="menu2" class="tab-pane fade">
              <div class="speakers-list">
                <div class="col-sm-3 col-xs-12 left-section">
                  <div class="col-sm-12 col-xs-12">
                    <div class="img-section"> <img src="assets/images/speaker-round-image-2.png" alt="Event " class="img-responsive"> </div>
                    <div class="speaker-social"> <a href="" class="fa fa-facebook" aria-hidden="true"></a> <a href="" class="fa fa-twitter" aria-hidden="true"></a> <a href="" class="fa fa-linkedin" aria-hidden="true"></a> <a href=""    class="fa fa-share-alt" aria-hidden="true"></a> </div>
                  </div>
                </div>
                <div class="col-sm-9 col-xs-12">
                  <div class="col-sm-12 col-xs-12">
                    <h3 class="speaker-topic">The Best Event Theme You Can Find is Here.</h3>
                    <p class="topic-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur magni dolores eos qui ratione.</p>
                    <div class="speaker-schedule"><span class="speaker-timing"><i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 - 08:45</span> <span class="speaker-loaction"><i class="fa fa-map-marker" aria-hidden="true"></i> Hall / C</span> <span class="speaker"><i class="fa fa-microphone" aria-hidden="true"></i> Mike Ross Realten inc. </span></div>
                  </div>
                </div>
              </div>
              <div class="speakers-list">
                <div class="col-sm-3 col-xs-12 left-section">
                  <div class="col-sm-12 col-xs-12">
                    <div class="img-section"> <img src="assets/images/speaker-round-image-1.png" alt="Event " class="img-responsive"> </div>
                    <div class="speaker-social"> <a href="" class="fa fa-facebook" aria-hidden="true"></a> <a href="" class="fa fa-twitter" aria-hidden="true"></a> <a href="" class="fa fa-linkedin" aria-hidden="true"></a> <a href=""    class="fa fa-share-alt" aria-hidden="true"></a> </div>
                  </div>
                </div>
                <div class="col-sm-9 col-xs-12">
                  <div class="col-sm-12 col-xs-12">
                    <h3 class="speaker-topic">The Best Event Theme You Can Find is Here.</h3>
                    <p class="topic-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur magni dolores eos qui ratione.</p>
                    <div class="speaker-schedule"><span class="speaker-timing"><i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 - 08:45</span> <span class="speaker-loaction"><i class="fa fa-map-marker" aria-hidden="true"></i> Hall / C</span> <span class="speaker"><i class="fa fa-microphone" aria-hidden="true"></i> Mike Ross Realten inc. </span></div>
                  </div>
                </div>
              </div>
              <div class="speakers-list">
                <div class="col-sm-3 col-xs-12 left-section">
                  <div class="col-sm-12 col-xs-12">
                    <div class="img-section"> <img src="assets/images/speaker-round-image.png" alt="Event " class="img-responsive" > </div>
                    <div class="speaker-social"> <a href="" class="fa fa-facebook" aria-hidden="true"></a> <a href="" class="fa fa-twitter" aria-hidden="true"></a> <a href="" class="fa fa-linkedin" aria-hidden="true"></a> <a href=""    class="fa fa-share-alt" aria-hidden="true"></a> </div>
                  </div>
                </div>
                <div class="col-sm-9 col-xs-12">
                  <div class="col-sm-12 col-xs-12">
                    <h3 class="speaker-topic">The Best Event Theme You Can Find is Here.</h3>
                    <p class="topic-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur magni dolores eos qui ratione.</p>
                    <div class="speaker-schedule"><span class="speaker-timing"><i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 - 08:45</span> <span class="speaker-loaction"><i class="fa fa-map-marker" aria-hidden="true"></i> Hall / C</span> <span class="speaker"><i class="fa fa-microphone" aria-hidden="true"></i> Mike Ross Realten inc. </span></div>
                  </div>
                </div>
              </div>
            </div>
            <div id="menu3" class="tab-pane fade">
              <div class="speakers-list">
                <div class="col-sm-3 col-xs-12 left-section">
                  <div class="col-sm-12 col-xs-12">
                    <div class="img-section"> <img src="assets/images/speaker-round-image.png" class="img-responsive" alt="Event "> </div>
                    <div class="speaker-social"> <a href="" class="fa fa-facebook" aria-hidden="true"></a> <a href="" class="fa fa-twitter" aria-hidden="true"></a> <a href="" class="fa fa-linkedin" aria-hidden="true"></a> <a href=""    class="fa fa-share-alt" aria-hidden="true"></a> </div>
                  </div>
                </div>
                <div class="col-sm-9 col-xs-12">
                  <div class="col-sm-12 col-xs-12">
                    <h3 class="speaker-topic">The Best Event Theme You Can Find is Here.</h3>
                    <p class="topic-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur magni dolores eos qui ratione.</p>
                    <div class="speaker-schedule"><span class="speaker-timing"><i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 - 08:45</span> <span class="speaker-loaction"><i class="fa fa-map-marker" aria-hidden="true"></i> Hall / C</span> <span class="speaker"><i class="fa fa-microphone" aria-hidden="true"></i> Mike Ross Realten inc. </span></div>
                  </div>
                </div>
              </div>
              <div class="speakers-list">
                <div class="col-sm-3 col-xs-12 left-section">
                  <div class="col-sm-12 col-xs-12">
                    <div class="img-section"> <img src="assets/images/speaker-round-image-1.png" class="img-responsive" alt="Event "> </div>
                    <div class="speaker-social"> <a href="" class="fa fa-facebook" aria-hidden="true"></a> <a href="" class="fa fa-twitter" aria-hidden="true"></a> <a href="" class="fa fa-linkedin" aria-hidden="true"></a> <a href=""    class="fa fa-share-alt" aria-hidden="true"></a> </div>
                  </div>
                </div>
                <div class="col-sm-9 col-xs-12">
                  <div class="col-sm-12 col-xs-12">
                    <h3 class="speaker-topic">The Best Event Theme You Can Find is Here.</h3>
                    <p class="topic-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur magni dolores eos qui ratione.</p>
                    <div class="speaker-schedule"><span class="speaker-timing"><i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 - 08:45</span> <span class="speaker-loaction"><i class="fa fa-map-marker" aria-hidden="true"></i> Hall / C</span> <span class="speaker"><i class="fa fa-microphone" aria-hidden="true"></i> Mike Ross Realten inc. </span></div>
                  </div>
                </div>
              </div>
              <div class="speakers-list">
                <div class="col-sm-3 col-xs-12 left-section">
                  <div class="col-sm-12 col-xs-12">
                    <div class="img-section"> <img src="assets/images/speaker-round-image-2.png" class="img-responsive" alt="Event "> </div>
                    <div class="speaker-social"> <a href="" class="fa fa-facebook" aria-hidden="true"></a> <a href="" class="fa fa-twitter" aria-hidden="true"></a> <a href="" class="fa fa-linkedin" aria-hidden="true"></a> <a href=""    class="fa fa-share-alt" aria-hidden="true"></a> </div>
                  </div>
                </div>
                <div class="col-sm-9 col-xs-12">
                  <div class="col-sm-12 col-xs-12">
                    <h3 class="speaker-topic">The Best Event Theme You Can Find is Here.</h3>
                    <p class="topic-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur magni dolores eos qui ratione.</p>
                    <div class="speaker-schedule"><span class="speaker-timing"><i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 - 08:45</span> <span class="speaker-loaction"><i class="fa fa-map-marker" aria-hidden="true"></i> Hall / C</span> <span class="speaker"><i class="fa fa-microphone" aria-hidden="true"></i> Mike Ross Realten inc. </span></div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <ul class="timeline">
            <li><div class="tldate">21 september 2022</div></li>
            
            <li>
              <div class="tl-circ"></div>
              <div class="timeline-panel">
                <div class="tl-heading">
                  <h3>16:00</h3>
                  <h4>Welkom & opening</h4>
                  <h6>Decaan ETZ Dr. Gerlof Bosma<br>
                  Introductie innovatie en rendement</h6>
                 <!--  <small class="text-muted"><i class="glyphicon glyphicon-time"></i></small><br>
                 
                  <p><img class="img-fluid" src="assets/images/part1.png" alt="lorem pixel"></p> -->
                </div>
               <!--  <div class="tl-body">
                  <a href="#0" class="cd-read-more">Sign Up Now</a>
                </div> -->
              </div>
            </li>
            
            <li class="timeline-inverted">
              <div class="tl-circ"></div>
              <div class="timeline-panel">
                <div class="tl-heading">
                  <h3>16:15</h3>
                  <h4>Interview RvB & AVT</h4>
                  <h6>Decaan ETZ Dr. Gerlof Bosma<br>interview met RvB ETZ en voorzitter AVT</h6>
                  <!-- <small class="text-muted"><i class="glyphicon glyphicon-time"></i>16:15</small><br>
                  <p><img class="img-fluid" src="assets/images/part2.png" alt="lorem pixel"></p> -->
                </div>
               
              </div>
            </li>


            <li>
              <div class="tl-circ"></div>
              <div class="timeline-panel">
                <div class="tl-heading">
                  <h3>16:30</h3>
                  <h4>Theoretisch kader</h4>
                  <h6>Dr. Aart Bontekoning<br>over generaties</h6>
                <!--   <small class="text-muted"><i class="glyphicon glyphicon-time"></i>16:30</small><br>
                 
                  <p><img class="img-fluid" src="assets/images/part1.png" alt="lorem pixel"></p> -->
                </div>
               <!--  <div class="tl-body">
                  <a href="#0" class="cd-read-more">Sign Up Now</a>
                </div> -->
              </div>
            </li>
            
            <li class="timeline-inverted">
              <div class="tl-circ"></div>
              <div class="timeline-panel">
                <div class="tl-heading">
                  <h3>17:00</h3>
                  <h4>Workshop - Regietheater</h4>
                  <h6>Dr. Aart Bontekoning<br> over het benutten van generatiediversiteit</h6>
                 <!--  <small class="text-muted"><i class="glyphicon glyphicon-time"></i>17:00</small><br>
                  <p><img class="img-fluid" src="assets/images/part2.png" alt="lorem pixel"></p> -->
                </div>
               
              </div>
            </li>

            <li>
              <div class="tl-circ"></div>
              <div class="timeline-panel">
                <div class="tl-heading">
                  <h3>18:00</h3>
                  <h4>Plenaire afsluiting</h4>
                  <h6>Drs. Alfons Mathijsen<br> wat neem je mee naar de praktijk</h6>
                 <!--  <small class="text-muted"><i class="glyphicon glyphicon-time"></i>18:00</small><br>
                 
                  <p><img class="img-fluid" src="assets/images/part1.png" alt="lorem pixel"></p> -->
                </div>
               <!--  <div class="tl-body">
                  <a href="#0" class="cd-read-more">Sign Up Now</a>
                </div> -->
              </div>
            </li>
            
            <li class="timeline-inverted">
              <div class="tl-circ"></div>
              <div class="timeline-panel">
                <div class="tl-heading">
                  <h3>18:15</h3>
                  <h4>Netwerkborrel</h4>
                  <h6>Netwerkborrel onder het genot van soep met broodjes</h6>
                <!--   <small class="text-muted"><i class="glyphicon glyphicon-time"></i>19:30</small><br>
                  <p><img class="img-fluid" src="assets/images/part2.png" alt="lorem pixel"></p> -->
                </div>
               
              </div>
            </li>
            
            
          </ul>
        </div>
      </div>
      <p class="text-center"><a href="#contactus" class="register-now-btn styles-button">Info & Contact <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </p>
    </div>
  </section>



  
  <!-- /fourth section --> 
  <!-- Fifth section - sponsors -->
  <!-- <section id="sponsors" class="sponsors">
    <div class="container">
      <div class="row">
        <h2 class="block-title"><strong>The</strong> Sponsors</h2>
        <div class="sponsors-logo">
          <div class="col-sm-4 col-xs-4 logo-item"> <img src="assets/images/sponsors/creative-graphic-unique.png" alt="Creative Graphic Unique" class="img-responsive"> </div>
          <div class="col-sm-4 col-xs-4 logo-item"> <img src="assets/images/sponsors/graphic-design-genuine.png" alt="Graphic Design Genuine" class="img-responsive"> </div>
          <div class="col-sm-4 col-xs-4 logo-item"> <img src="assets/images/sponsors/creative-special.png" alt="Creative Special" class="img-responsive"> </div>
        </div>
        <div class="sponsors-logo">
          <div class="col-sm-4 col-xs-4 logo-item"> <img src="assets/images/sponsors/creative-design-unique.png" alt="Creative Design Special" class="img-responsive"> </div>
          <div class="col-sm-4 col-xs-4 logo-item"> <img src="assets/images/sponsors/creative-graphic.png" alt="Creative Graphic" class="img-responsive"> </div>
          <div class="col-sm-4 col-xs-4 logo-item"> <img src="assets/images/sponsors/.png" alt="Event " class="img-responsive"> </div>
        </div>
      </div>
      <p class="text-center"><a href="sponsors.html" class="register-now-btn styles-button">Sponsors Styles <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </p>
    </div>
  </section> -->
  <!-- /Fifth section --> 
  
  <!-- Prices -->
  <!-- <section id="prices" class="prices">
    <div class="container">
      <div class="row">
        <p class="block-title"><strong>The</strong> Prices</p>
        <div class="col-sm-4 col-md-4 event-priceing">
          <div class="inner-pricing">
            <div class="plan-name">
              <h6>Personal</h6>
              <small>Basic Package</small> </div>
            <div class="plan-price">
              <p class="no-margin"><sup>$</sup>99</p>
            </div>
            <div class="plan-details">
              <ul>
                <li><i class="fa fa-check" aria-hidden="true"></i> Entrance</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Coffe Break</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Lunch</li>
                <li><i class="fa fa-times" aria-hidden="true"></i> Workshop</li>
                <li><i class="fa fa-times" aria-hidden="true"></i> Certificate</li>
              </ul>
              <a href="#" class="register-now-btn">Buy Ticket <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 event-priceing">
          <div class="inner-pricing">
            <div class="best-offer">
              <p class="no-margin">Best Offer</p>
            </div>
            <div class="plan-name">
              <h6 class="best-offer-padding">Business</h6>
              <small> Package</small> </div>
            <div class="plan-price">
              <p class="no-margin"><sup>$</sup>149</p>
            </div>
            <div class="plan-details">
              <ul>
                <li><i class="fa fa-check" aria-hidden="true"></i> Entrance</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Coffe Break</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Lunch</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Workshop</li>
                <li><i class="fa fa-times" aria-hidden="true"></i> Certificate</li>
              </ul>
              <a href="#" class="register-now-btn">Buy Ticket <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 event-priceing">
          <div class="inner-pricing">
            <div class="plan-name">
              <h6>Coporate</h6>
              <small>Best Package</small> </div>
            <div class="plan-price">
              <p class="no-margin"><sup>$</sup>199</p>
            </div>
            <div class="plan-details">
              <ul>
                <li><i class="fa fa-check" aria-hidden="true"></i> Entrance</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Coffe Break</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Lunch</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Workshop</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Certificate</li>
              </ul>
              <a href="#" class="register-now-btn">Buy Ticket <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </div>
          </div>
        </div>
      </div>
      <div class="get-in-touch">
        <p class="no-margin">Need additional pricing info? <a href="#">Get in touch</a> </p>
      </div>
    </div>
    <p class="text-center"><a href="price.html" class="register-now-btn styles-button">Price Styles <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </p>
  </section> -->
  <!-- /Prices --> 
  
  
  <!-- /Testiominals --> 
  
  <!-- Subscribe -->
  <!-- <section id="subscribe" class="subscribe">
    <div class="container">
      <div class="row">
        <h2 class="block-title"><strong>Subscribe for</strong> Next eventary</h2>
        <div class="subscribe-form">
          <form>
            <div class="input-group margin-bottom-sm col-lg-5 col-md-5 col-sm-12  col-xs-12"> <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
              <input class="form-control" type="text" placeholder="First Name">
            </div>
            <div class="input-group margin-bottom-sm col-lg-5  col-md-5 col-sm-12  col-xs-12"> <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
              <input class="form-control" type="text" placeholder="Email address">
            </div>
            <div class="col-sm-12 col-xs-12">
              <p class="no-margin subscribe-text">We guarantee 100% privacy. Your information will not be shared.</p>
              <a href="#" class="register-now-btn">Get Every Info of Our Next Camp Eventery</a> </div>
          </form>
        </div>
      </div>
    </div>
  </section> -->
  <!-- /Subscribe --> 
  
  <!-- Contact Us  -->
  <section id="contactus" style="background-image: url('assets/images/etz.jpg');background-size: cover;" class="contact-us">
    <div class="container">
      <div class="row">
        <div class="contact-left">
          <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3671.1436926786087!2d72.55631131454653!3d23.055192984936514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e843fea762a7f%3A0x556fb8c750338958!2sGlorywebs!5e0!3m2!1sen!2sin!4v1491806480193" style="border:0" allowfullscreen=""  height="495"   ></iframe>-->
          <div id="map" ></div>
        </div>
        <div class="contact-right">
          <h4 class="contact-title"> <i class="fa fa-flag" aria-hidden="true"></i> Info & Contact</h4>
          <div class="contact-details" style="font-size: 12px">
            <p class="address"> <i class="fa fa-map-marker" style="color:gold" aria-hidden="true"></i> <span>ETZ TweeSteden, auditorium<br>
              Dr. Deelenlaan 5 <br>
              042 AD Tilburg <br>
              <b style="color:gold">Route:</b> <br>
              <p>(Bij de hoofdingang direct linksaf en aan het einde rechts. U passeert de apotheek. In nagenoeg het midden van de gang staat het auditorium aangegeven op de bordjes. Deze bevindt zich op de eerste etage)</p><br><br>
              <b style="color:gold">Tijd:</b> 16:00-19:00 uur <br>
              <b style="color:gold">Doelgroep:</b> Opleiders, stafleden uit opleidingsgroepen, <br>aios, leerhuismanagers & onderwijskundigen. <br>
              <b style="color:gold">Accreditatiepunten:</b> Het symposium is geaccrediteerd voor 2 punten
            
            </span> </p>
            
           
            <p class="contact-email">Vragen? <i class="fa fa-envelope-o" aria-hidden="true"></i>  Mail <a href="mailto:a.mathijssen@etz.nl">a.mathijssen@etz.nl</a></p>
          </div>
          <!-- <a href="#" class="register-now-btn">Get Register For The Event</a>-->
      </div> </div> 
           <!-- <p class="text-center"><a href="contact.html" class="register-now-btn styles-button">Contact Styles <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </p> -->
  
    </div>
  </section>
  <!-- /Contact Us --> 