


<!-- /first section --> 

<router-outlet></router-outlet>


<!-- Bottom Social -->
<div id="elements" class="bottom-social"> <a href="" class="fa fa-facebook" aria-hidden="true"></a> <a href="" class="fa fa-twitter" aria-hidden="true"></a> <a href="" class="fa fa-linkedin" aria-hidden="true"></a>  </div>
<!-- /Bottom Social --> 

<!-- Footer -->
<footer>
  <div class="footer-top">
    <div class="container">
      
    </div>
  </div>
  <div class="footer-bottom">
    <div class="copytight">
      <p>2022 Copyright © ETZ, made with ❤ by <a href="http://edease.nl" title="Glorywebs" target="_blank"> EDease</a></p>
    </div>
  </div>
  <a href="#" id="back-to-top" title="Back to top">&uarr;</a> </footer>